package config

var (
	databaseName             string = "kgc.db"
	databaseConnectionString string = "sqlite3"
	CookieSecretKey          string = "my$kgc$Cookie$secret"
)

// bytes, err := bcrypt.GenerateFromPassword([]byte("mod@abir"), 14)
// errorhandling.Check(err)
// fmt.Println("_id=", uuid.NewString())
// fmt.Println("pass=", string(bytes))
